SRR13973983_fastqs/
SRR13973984_fastqs/
SRR13973985_fastqs/
ref_genomes/
snpEff_genes.txt
snpEff_summary.html
clinvar*

SRR13973983_analysis/*.bam*
SRR13973984_analysis/*.bam*
SRR13973985_analysis/*.bam*
